@{
    Layout = null;
}<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @System.Web.Optimization.Styles.Render("~/Qz/css")
    <style>
        .nav-header {
            width: 100%;
            height: 45px;
        }

            .nav-header ul {
                width: 100%;
                height: 100%;
                line-height: 45px;
                padding-left: 18px;
            }

                .nav-header ul li {
                    display: inline-block;
                    padding: 0 16px;
                    font-size: 16px;
                    cursor: pointer;
                }

            .nav-header .active {
                background: #5D83A3;
                color: #fff;
            }

            .nav-header .icon {
                width: 25px;
                text-align: center;
            }

        .icon-es:before {
            content: "\f00a";
        }
        .icon-dc:before {
            content: "\f0c2";
        }
        .icon-hr:before {
            content: "\f0c0";
        }

        .icon-pms:before {
            content: "\f085";
        }

        .container iframe {
            width: 100%;
            height: 100%;
            border: 0 none;
        }
    </style>
</head>
<body>
    <div>
        <div class="nav-header">
            <ul>
                <li data-id="es" data-url="/Es?system=es"><i class="icon icon-es"></i>楼盘系统</li>
                <li data-id="dc" data-url="/Es?system=dc"><i class="icon icon-dc"></i>数据中心</li>
                <li data-id="hr" data-url="/Hr?system=hr"><i class="icon icon-hr"></i>人事系统</li>
                <li data-id="pms" data-url="/Pms?system=pms"><i class="icon icon-pms"></i>权限管理</li>
            </ul>
        </div>
        <div class="loading-line"></div>
        <div class="container">
            <iframe></iframe>
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/Qz/jQuery")
    @System.Web.Optimization.Scripts.Render("~/Qz/js")
    <script>
        (function (o) {

            common.load.complete(function () {

                var header = $api.dom('.nav-header'),
                    nav = $api.domAll(header, 'li'),
                    container = $api.dom('.container'),
                    iframe = $api.dom(container, 'iframe');

                $api.css(container, 'height: {0}px'.format(window.innerHeight - header.clientHeight - 4));

                $api.addEvt(nav, 'click', function () {

                    if ($api.hasCls(this, 'active')) {
                        // return;
                    }

                    $api.rmCls($api.dom(header, 'li.active'), 'active');
                    $api.addCls(this, 'active');

                    iframe.src = $api.data(this, 'url');
                });

                nav[0].click();
            });

        })(window);


    </script>

</body>
</html>
