@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Q404</title>

    <link href="~/Module/QzUI/common/css/common.css" rel="stylesheet" />
    <link href="~/Module/QzUI/common/css/fonts.css" rel="stylesheet" />
    <link href="~/Module/QzUI/common/css/animate.css" rel="stylesheet" />
    <style>
        html{ background:#333; } 
        .page-container { margin: 88px auto; width: 400px; padding: 50px 0; height: 200px; -moz-box-shadow: 0 -5px 0 0 #ff6a00; -webkit-box-shadow: 0 -5px 0 0 #ff6a00; box-shadow: 0 -5px 0 0 #ff6a00; text-align:center}  
        .icon-404{ color:#149b70; }
        .icon-404:before{content: "\f188";}
    </style>
</head>
<body>
    <div class="page-container">
        <h3 class="animated rotateInDownLeft">
            <i class="icon icon-404"></i>
            访问的地址不存在 !
        </h3>
    </div>
</body>
</html>
