@{
    ViewBag.Title = "Win7";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Win7</title>
    @System.Web.Optimization.Styles.Render("~/Qz/css")

    <style>
        .page-container {
            min-height: 100px;
        }

        .menu-win7 {
            -webkit-user-select: none;
        }

            .menu-win7 li {
                text-align: center;
                width: 80px;
                height: auto;
                margin: 15px;
                overflow: hidden;
                cursor: pointer;
                position: absolute;
            }

            .menu-win7 .icon {
                font-size: 28px;
                padding: 5px;
                color: #149b70;
            }

            .menu-win7 .title {
                color: #fff;
                background: #149b70;
                border-radius: 5px;
            }

        .icon-home:before {
            content: "\f015";
        }

        .icon-manage:before {
            content: "\f0c0";
        }

        .icon-sys-setting:before {
            content: "\F085";
        }

        .icon-sys-app:before {
            content: "\f179";
        }

        .icon-sys-log:before {
            content: "\f0ea";
        }

        .icon-db-manage:before {
            content: "\f0c2";
        }

        .icon-data-code:before {
            content: "\f121";
        }

        .icon-module-manage:before {
            content: "\f00b";
        }

        .icon-company-manage:before {
            content: "\f0ac";
        }

        .icon-dept-manage:before {
            content: "\f0e8";
        }

        .icon-role-manage:before {
            content: "\f084";
        }

        .icon-user-manage:before {
            content: "\f007";
        }

        .icon-open {
            position: relative;
        }

            .icon-open:before {
                content: "\f101";
            }

        .icon-sys-menu:before {
            content: "\f039";
        }

        .icon-sys-menu {
            padding: 12px 8px 0 0;
            float: right;
        }


        .page-taskbar {
            height: 38px;
            width: 100%;
            position: fixed;
            bottom: 0;
            background: #149b70;
            -webkit-user-select:none;

        }

            .page-taskbar .win {
                width: 55px;
                height: 100%;
                text-align: center;
            }

            .page-taskbar li {
                float: left;
            }

            .page-taskbar .win > div {
                padding-top: 3px;
            }

            .page-taskbar .icon-win {
                color: #fff;
                font-size: 25px;
            }

                .page-taskbar .icon-win:before {
                    content: "\f17a";
                }
                .quick_menu{
                    width: 330px;
                    height: 500px;
                    position: fixed;
                    bottom: 37px;
                    border: 1px solid #149b70;
                    box-shadow: 0 0 10px 0 #149b70;
                    border-top-right-radius: 7px;
                    background: #fff;
                    display:none;
                }
                .page-setting{
                    position: fixed;
                    right: 20px;
                    top: 20px;
                    width: 50px;
                    height: 45px;
                    border: 1px solid #dcdcdc;
                    border-radius: 5px;
                    padding-top:7px;
                    text-align:center;
                    -webkit-user-select:none;
                }
                .page-setting .icon-setting{color:#149b70;font-size:30px;}
                .page-setting .icon-setting:before{content:"\F085"}
    </style>
</head>
<body>

    <div class="page-container">

        <div class="page-content"></div>

        <div class="page-taskbar">
            <div class="quick_menu">

            </div>
            <ul>
                <li class="win"><div><i class="icon icon-win"></i></div></li>
                <li class="taskbar"></li>
            </ul>
        </div>

        <div class="page-setting"><i class="icon icon-setting"></i></div>

    </div>

    @System.Web.Optimization.Scripts.Render("~/Qz/jQuery")
    @System.Web.Optimization.Scripts.Render("~/Qz/js")

    <script>

        (function (o) {

            var _module = $api.parse('@ViewBag.Module'.replace(/\&quot;/g, '"')),

                page_content = $api.dom('.page-content'),

                init = function () {

                    var _html = [],
                        _top = 0,
                        _left = 0,
                        WIDTH = 95,
                        HEIGHT = 75,
                        columns = parseInt(($(window).height() - 38) / HEIGHT)
                    ;

                    if (columns <= 0) return;

                    $api.css(page_content, 'height: {0}px'.format(($(window).height() - 38)));

                    _module.forEach(function (_, index) {

                        _top = parseInt(index % columns) * HEIGHT;
                        _left = parseInt(index / columns) * WIDTH;

                        _.css = "top: {0}px;left: {1}px;".format(_top, _left);

                        _html.push('<li style="{css}"><div class="item" data-id="{Id}" data-url="{URL}" data-title="{Name}"><div><i class="icon icon-{Icon}"></i></div><div class="title">{Name}</div></div></li>'.format(_));

                    });

                    $api.html(page_content, '<ul class="{0}">{1}</ul>'.format('menu-win7', _html.join('')))

                },

                _url = '', _title = '', _id = '',

                _quick_menu = $api.dom('.quick_menu'),

                _overlay
                    ;


            common.load.complete(function () {

                o.gps = {};

                init();

                $api.addEvt($api.domAll(page_content, '.item'), 'click', function () {

                    _id = $api.data(this, 'id');
                    _url = $api.data(this, 'url');
                    _title = $api.data(this, 'title');
                    common.tip(_url);

                    common.ajax({
                        url: _url,
                        type: 'html',
                        callback: function (rs) {

                            new Dialog().window({
                                id: 'window-' + _id,
                                content: rs.html,
                                title: _title,
                                drag: true,
                                mask: false
                            });

                        }
                    });

                });

                $api.addEvt($api.dom('.page-taskbar .icon-win'), 'click', function () {

                    if ($api.data(_quick_menu, 'show') == '0') {
                        $api.hide(_quick_menu);
                        $api.data(_quick_menu, 'show', '1');
                        return;
                    }

                    $api.show(_quick_menu);
                    $api.data(_quick_menu, 'show', '0');

                    $api.append($api.dom('body'), '<div class="overlay" style="display:block;" data-box-id="quick_menu"></div>');
                    _overlay = $api.dom('.overlay');
                    $api.css(_overlay, 'z-index:' + (++o.Index));

                    $api.addEvt(_overlay, 'click', function () {
                        $api.hide(_quick_menu);
                        $api.data(_quick_menu, 'show', '1');
                        $api.remove(_overlay);
                    });

                });

                //new Drag({
                //    drag: $api.dom('.page-setting'),
                //    target: $api.dom('.page-setting'),
                //    proxy: true
                //});

                window.onresize = init;

            });

        })(window);

    </script>
</body>
</html>
