@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>楼盘系统 es</h3>
    <p>@ViewBag.T</p>

</body>
</html>
